body { 
  margin: 0; 
  padding: 0; 
  
}

#map { 
  /*position: fixed; */
  position: -webkit-sticky;
  position: sticky;
  top: 0; 
  bottom: 0; 
  /*width: 1440px;*/
  width:70%;
  height: 720px; 
}

.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: fixed;
  width: 25%;
  top: 0;
  left: 0;
  margin-top:30px;
  margin-left: 10px;
  padding: 10px;
}
 
.map-overlay .map-overlay-inner {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 15px;
}
 
.map-overlay h2 {
  line-height: 24px;
  display: block;
  margin: 0 0 10px;
}
 
.map-overlay .legend .bar {
  height: 10px;
  width: 100%;
  background: linear-gradient(to right, #3D4DE0, #ff7800);
}
 
.map-overlay input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}

.picture{
  width:350px;
}

#features {
  width: 30%;
  margin-left: 70%;
  font-family: sans-serif;
  overflow-y: scroll;
  background-color: #BFCAD6;
  display:absolute;
}

section {
  padding: 50px 50px;
  line-height: 25px;
  /*border-bottom: 1px solid #ddd;*/
  opacity: 0.1;
}

section.active {
  opacity: 1;
}

section:last-child {
  border-bottom: none;
  margin-bottom: 200px;
}

h1 {
  font-family: 'Cormorant', serif;
  font-size: 40px;
  line-height: 45px;
}


h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 400; 
  /*padding: 0px;*/
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

em {
  font-family: 'PT Mono', monospace;
  font-size: 13px;
  font-weight: 400;
  font-style: normal
}


h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 600; 
}

h4 {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 400; 
}


.mapboxgl-popup {
  max-width: 200px;
  max-height: 20px;
}


.mapboxgl-popup-content{
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
}

/*.mapboxgl-popup-content-wrapper{*/
/*  padding: 0%;*/
/*}*/


#myDiagram {
  position: -webkit-sticky;
  position: sticky;
  /*top: 0;  */
  z-index: 3;
  /*padding-top: 300px;*/
  /*margin-top: 300px;*/
  
}

.tooltip{
  display:absolute;
  margin-top:-800px;
  margin-left: 30px;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;

}



.legend{
  width: 100%;
  margin-right: 270px;
  font-family: 'Rubik', sans-serif;
}

#legend{
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  
}